
@charset 'UTF-8';

/* 여백초기화 */
html,
body,
h1,
h2,
h3,
h4,
p,
div,
span,
img,
ul,
ol,
li,
header,
main,
footer,
nav,
section,
a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 타이포설정 */
html {
    font-size: 10px;
}
body {
    font-family: '맑은고딕', sans-serif;
    color: #111;
    line-height: 1;
    letter-spacing: -1px;
}
h1,
h2,
h3,
h4,
button,
input {
    font-size: inherit;
    font-weight: normal;
}

/* 목록스타일 제거 */
li {
    list-style-type: none;
}

/* 링크요소 */
a {
    text-decoration: none;
    color: inherit;
}

/* 화면숨김요소 */
.hide {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    clip-path: polygon(0 0, 0 0, 0 0);
}

/* 이미지요소 하단 디센더 제거 */
img {
    vertical-align: top;
}
/* 버튼요소 마우스커서 손가락으로 변경 */
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* 빠른메뉴 */
.quick_menu {
    width: 13rem;
    background-color: #fff;
    border: 0.1rem solid #e8e8e8;
    border-radius: 2rem;
    position: fixed;
    left: calc(50% + 620px);
    top: 17.2rem;
    top: 172px;
    text-align: center;
    z-index: 10;
    transition: all 0.3s;
    padding: 1.7rem 1.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}
.quick_menu h2 {
    background-color: #ecf6ff;
    color: #287dcc;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
}
.quick_menu ul li:not(:last-child){
    border-bottom: 0.1rem solid#d3d3d3;
}
.quick_menu ul li a {
    display: block;
    font-size: 1.4rem;
    padding: 1rem 0;
}
.quick_menu button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #888;
    color: #fff;
    width: 100%;
    height: 2.8rem;
    border-radius: 1.4rem;
}

/* Main Layout */
body {
    background-image: url(../img/main_bg1.png), url(../img/main_bg2.png);
    background-repeat: no-repeat;
    background-position: left -7rem, right top;
    background-size: 37%;
}
/* Nps Header */
.nps_header {
    height: 20rem;
    position: relative;
}
.nps_header.on::before {
    content: '';
    width: 100%;
    height: 50rem;
    background-color: #f0f0f0;
    position: absolute;
    left: 0;
    top: 20rem;
    z-index: 99;
    box-shadow: 5px 5px 5px rgba(144, 144, 144, 0.5);
}
.nps_header .header_top {
    width: 122rem;
    height: 14rem;
    margin: 0 auto;
    padding-top: 63px;
    position: relative;
}
.nps_header .gnb_wrapper {
    height: 6rem;
    position: relative;
}
.nps_header .gnb_wrapper::before,
.nps_header .gnb_wrapper::after {
    content: '';
    width: 100%;
    height: 0.1rem;
    background-color: #e8e8e8;
    position: absolute;
    left: 0;
}
.nps_header .gnb_wrapper::before {
    top: 0;
}
.nps_header .gnb_wrapper::after {
    bottom: 0;
}

/* header-top */
.sitelogo {
    width: 204px;
}
.search_box {
    width: 508px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    border: 2px solid #2b84d5;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search_box input {
    border: none;
    width: 461px;
    height: 46px;
    background-color: transparent;
    padding: 0 25px;
    font-size: 1.6rem;
}
.search_box input:focus {
    outline: none;
}
.search_box button {
    width: 43px;
    height: 46px;
    border-radius: 0 25px 25px 0;
    background-image: url(../img/main_icon_search.png);
    background-repeat: no-repeat;
    background-position: left center;
}
.util_box {
    position: absolute;
    right: 0;
    top: 2rem;
}
.util_box .util_menu {
    display: flex;
    align-items: center;
    gap: 3rem;
    font-size: 1.4rem;
}
.util_box .util_menu ul{
    position: relative;
    z-index: 9999;
}
.util_box .util_menu li a {
    display: block;
    line-height: 3.2rem;
    margin-right: 1.5rem;
    padding: 0 .2rem;
}
.util_box .util_menu .sub a:hover{
    background-color: #e8e8e8;
    border-radius: .5rem;
    color: #2b84d5;
}
.util_menu > li > a::after {
    content: '';
    width: 0.7rem;
    height: 0.4rem;
    position: absolute;
    right: 0;
    top: 50%;
    background-image: url(../img/arr_select.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
.util_box .util_menu > li:nth-child(1){
    position: relative;
}
.util_box .util_menu > li:nth-child(1) .sub{
    position: absolute;
    background-color: #fff;
    left: 50%;
    top: 100%;
    width: 10rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    padding: 1rem;
    transform: translateX(-50%);
    border-radius: 1rem;
}
.util_box .util_menu > li:nth-child(2){
    position: relative;
    text-align: center;
}
.util_box .util_menu > li:nth-child(2) .sub {
    position: absolute;
    background-color: #fff;
    left: 50%;
    top: 100%;
    width: 12rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    padding: 1rem;
    transform: translateX(-50%);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.util_box .util_menu > li:nth-child(2) .sub a {
    display: block;
    position: relative;
}
.util_box .util_menu > li:nth-child(2) .sub a::after{
    display: none;
}
.util_box .util_menu button {
    width: 2rem;
    height: 2rem;
    border: 0.1rem solid #dedede;
    background-color: #fff;
    position: relative;
    padding: .5rem;
    margin-right: 1rem;
}
.util_box .util_menu .zoom_out {
    margin-left: -1px;
}

.util_menu > li > ul {
    display: none;
}
/* 글자확대,축소 도형 만들기 */
.util_box .util_menu button::before,
.util_box .util_menu button::after {
    content: '';
    width: 13px;
    height: 1px;
    background-color: #787878;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -6.5px;
}
.util_box .util_menu button::after {
    transform: rotate(90deg);
}
.util_box .util_menu .zoom_out::after {
    content: none;
}

/* Header GNB */
.gnb_wrapper .gnb_inner {
    width: 122rem;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.gnb {
    display: flex;
    position: relative;
}
.gnb > li {
    width: 18.4rem;
    position: relative;
}
.gnb > li > a {
    display: block;
    line-height: 60px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
}
.gnb > li > a:hover{
    color: #10599e;
}
.gnb > li:not(:last-child) > a::after {
    content: '';
    width: 0.1rem;
    height: 1rem;
    background-color: #e8e8e8;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.gnb li:hover a::after {
    content: none;
}
.gnb .gnb_sub{
    font-size: 1.6rem;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9999;
    background-color: #f0f0f0;
    width: 100%;
    height: 50rem;
}
.gnb > li:hover .gnb_sub{
    background-color: #fff;
}
.gnb .gnb_sub li:first-child{
    padding-top: 1.5rem;
}
.gnb .gnb_sub li a{
    display: block;
    width: 100%;
    text-align: center;
    padding: 1.3rem;
}
.gnb .gnb_sub li a:hover{
    color: #10599e;
    text-decoration: underline;
}

/* Header 전체메뉴 */
.all_menu {
    width: 11.6rem;
    height: 6rem;
    font-size: 1.6rem;
    font-weight: bold;
    background-image: url(../img/i_menu.svg);
    background-repeat: no-repeat;
    background-position: right center;
    text-align: left;
    padding-left: 20px;
}

/* Nps Main */

/* Nps Main top */
.main_top {
    width: 122rem;
    margin: 0 auto;
    padding: 2.3rem 0 5.3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.main_top .sec {
    flex-shrink: 0;
    background-color: #fff;
    border-radius: 3rem;
}
.main_top .sec1 {
    width: 72.6rem;
    height: 32rem;
    margin-bottom: 2.7rem;
    overflow: hidden;
    position: relative;
}
.main_top .sec2 {
    width: 47.2rem;
    padding: 4.4rem 3.7rem 3.9rem;
    background-color: #f9f9f9;
}
.main_top .sec3 {
    width: 100%;
    margin-bottom: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main_top .sec4 {
    width: 100%;
    margin-bottom: 3.6rem;
}
.main_top .sec5 {
    width: 65.7rem;
}
.main_top .sec6 {
    width: 53.3rem;
}

.main_top .sec .sec_tit {
    font-size: 2.4rem;
    font-weight: bold;
}

/* Main top section1 */
.control-box {
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 9999;
}

/* Main top section2 */
.main_top .sec2 .sec_tit {
    margin-bottom: 2.5rem;
}
.sec2 .freq_service {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 1rem;
}
.sec2 .freq_service li {
    width: 9.2rem;
    background-color: #fff;
    border-radius: 1rem;
    border: 0.1rem solid #d3d3d3;
    overflow: hidden;
}
.sec2 .freq_service li a {
    display: block;
    height: 8.2rem;
    font-size: 1.3rem;
    color: #6c6c6c;
    line-height: 1.8rem;
    padding: 1.2rem;
    position: relative;
}
.sec2 .freq_service li a::before {
    content: '';
    width: 2.8rem;
    height: 2.8rem;
    position: absolute;
    right: 0.7rem;
    bottom: 0.7rem;
    border-radius: 1.4rem;
    transition: background-color 0.5s ease-in-out;
}
.sec2 .freq_service li:hover {
    outline: 0.2rem solid #59cdd7;
    outline-offset: -0.2rem;
    font-weight: bold;
}
.sec2 .freq_service li a:hover{
    color: #59cdd7;
}
.sec2 .freq_service li:hover a::before {
    background: #59cdd7 url(../img/i_favor_my_on.svg);
}
.sec2 .freq_service li:first-child a::before {
    background: #f6f6f6 url(../img/i_favor_my.svg);
}
.sec2 .freq_service li:first-child:hover a::before {
    background: #59cdd7 url(../img/i_favor_my_on.svg);
}
.sec2 .freq_service li:nth-child(2) a::before {
    background: #f6f6f6 url(../img/i_favor_branch.svg);
}
.sec2 .freq_service li:nth-child(2):hover a::before {
    background: #59cdd7 url(../img/i_favor_branch_on.svg);
}
.sec2 .freq_service li:nth-child(3) a::before {
    background: #f6f6f6 url(../img/i_favor_doc.svg);
}
.sec2 .freq_service li:nth-child(3):hover a::before {
    background: #59cdd7 url(../img/i_favor_doc_on.svg);
}
.sec2 .freq_service li:nth-child(4) a::before {
    background: #f6f6f6 url(../img/i_favor_calc.svg);
}
.sec2 .freq_service li:nth-child(4):hover a::before {
    background: #59cdd7 url(../img/i_favor_calc_on.svg);
}
.sec2 .freq_service li:nth-child(5) a::before {
    background: #f6f6f6 url(../img/i_favor_easy.svg);
}
.sec2 .freq_service li:nth-child(5):hover a::before {
    background: #59cdd7 url(../img/i_favor_easy_on.svg);
}
.sec2 .freq_service li:nth-child(6) a::before {
    background: #f6f6f6 url(../img/i_favor_fax.svg);
}
.sec2 .freq_service li:nth-child(6):hover a::before {
    background: #59cdd7 url(../img/i_favor_fax_on.svg);
}
.sec2 .freq_service li:nth-child(7) a::before {
    background: #f6f6f6 url(../img/i_favor_statistics.svg);
}
.sec2 .freq_service li:nth-child(7):hover a::before {
    background: #59cdd7 url(../img/i_favor_statistics_on.svg);
}
.sec2 .freq_service li:nth-child(8) a::before {
    background: #f6f6f6 url(../img/i_favor_recruit.svg);
}
.sec2 .freq_service li:nth-child(8):hover a::before {
    background: #59cdd7 url(../img/i_favor_recruit_on.svg);
}
/* Main top section3 */
.sec3 .sec_tit {
    width: 22.8rem;
}
.sec3 .sec_tit.personal {
    display: none;
}
.sec3 .sec_tit a {
    display: block;
    border-radius: 2rem;
    line-height: 22.4rem;
    text-align: center;
    background-color: #d3efee;
    color: #13927e;
    position: relative; 
}
.sec3 .sec_tit a::before {
    content: '';
    width: 8.5rem;
    height: 8.5rem;
    background-color: #d3efee;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100%;
}
.sec3 .sec_tit.personal a::before {
    right: -5rem;
}
.sec3 .sec_tit.workplace a {
    background-color: #fce3ce;
    color: #d4520c;
}
.sec3 .sec_tit.workplace a::before {
    background: #fce3ce url(../img/arr_service2.svg) no-repeat center;
    left: -5rem;
}
.sec3 .service_box {
    width: 97.2rem;
    background-color: #d3efee;
    border-radius: 2rem;
    position: relative;
}
.sec3 .service_box.workplace {
    display: none;
}
.sec3 .service_box::before {
    content: '';
    width: 11.2rem;
    height: 11.2rem;
    border-radius: 100%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.sec3 .service_box.personal::before {
    right: -6.4rem;
}
.sec3 .service_box.workplace::before {
    left: -6.4rem;
}
.sec3 .service_box.personal {
    padding: 4.8rem 8.9rem 4rem 4rem;
}
.sec3 .service_box.workplace {
    padding: 4.8rem 5.7rem 4rem 7.2rem;
}
.sec3 .service_box .sec_sub_tit {
    font-size: 2.3rem;
    margin-bottom: 2.5rem;
    font-weight: bold;
    color: #13927e;
}
.sec3 .service_box.workplace {
    background-color: #fce3ce;
}
.sec3 .service_box.workplace .sec_sub_tit {
    color: #d4520c;
}
.sec3 .service_box .service_list {
    display: flex;
    justify-content: space-between;
}
.sec3 .service_box .service_list li {
    flex-shrink: 0;
    width: 12.7rem;
}
.sec3 .service_box .service_list li a {
    display: flex;
    height: 8.8rem;
    background-color: #fff;
    border-radius: 1.8rem;
    font-size: 1.6rem;
    line-height: 2.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #13927e;
}
.sec3 .service_box .service_list li:hover a {
    background-color: #13927e;
    color: #fff;
}

/* Main top section4 */
.main_top .sec4 {
    border-radius: 0;
    position: relative;
}
.sec4 .tab_tit {
    width: fit-content;
    display: flex;
    border-radius: 2.2rem;
    background-color: #f6f6f6;
    margin-bottom: 1.6rem;
}
.sec4 .tab_tit .news {
    width: 8.1rem;
}

.sec4 .tab_tit .press,
.sec4 .tab_tit .bid {
    width: 9.5rem;
}
.sec4 .tab_tit .employ {
    width: 9.4rem;
}
.sec4 .tab_tit button {
    border: none;
    background-color: transparent;
    width: 100%;
    height: 4.4rem;
    font-size: 1.3rem;
    border-radius: 2.2rem;
}
.sec4 .tab_tit .news button:focus,
.sec4 .tab_tit .news button:hover{
    background-color: #e36b38;
    color: #fff;
}
.sec4 .tab_tit .press button:focus,
.sec4 .tab_tit .press button:hover{
    background-color: #5199dd;
    color: #fff;
}
.sec4 .tab_tit .employ button:focus,
.sec4 .tab_tit .employ button:hover{
    background-color: #28aa4c;
    color: #fff;
}
.sec4 .tab_tit .bid button:focus,
.sec4 .tab_tit .bid button:hover {
    background-color: #838bd0;
    color: #fff;
}

/* sec4 - tab contents */
.sec4 .tab_cont {
    height: 16.5rem;
    overflow: hidden;
}
.sec4 .tab_cont .slide_wrapper {
    display: flex;
}
.sec4 .tab_cont .slide_wrapper li {
    flex-grow: 1;
    padding: 0 1rem;
}
.sec4 .tab_cont .slide_wrapper li a {
    display: block;
    height: 16.5rem;
    background-color: #f9f9f9;
    border-radius: 2rem;
    border: 1px solid #ffd9c8;
    padding: 3.6rem 3rem 0;
}
.sec4 .tab_cont .slide_wrapper li a p {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 3rem;
    color: #565656;
    line-height: 1.5;
}
.sec4 .tab_cont .slide_wrapper li a span {
    font-size: 1.3rem;
    color: #565656;
}
.sec4 .tab_control {
    position: absolute;
    right: 0;
    top: 1rem;
    display: flex;
}
.sec4 .tab_control .prev_btn,
.sec4 .tab_control .next_btn {
    width: 3.6rem;
    height: 3.6rem;
    border: 0.1rem solid #d3d3d3;
    background-image: url(../img/i_news_slider_prev.svg);
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 100%;
}
.sec4 .tab_control .next_btn {
    background-image: url(../img/i_news_slider_next.svg);
    margin-left: 0.3rem;
}
.sec4 .tab_control .more_btn {
    width: 9.2rem;
    height: 3.6rem;
    border-radius: 1.8rem;
    border: 0.1rem solid #d3d3d3;
    font-size: 1.3rem;
    margin-left: 2rem;
    background-image: url(../img/more_btn_bg.svg);
    background-repeat: no-repeat;
    background-position: 1rem center;
    background-size: 1.6rem 1.6rem;
    text-align: left;
    padding-left: 3rem;
}

/* Main top section5 */
.main_top .sec5 {
    border-radius: 0;
    position: relative;
}
.sec5 .sec_tit {
    line-height: 3.8rem;
    margin-bottom: 1.1rem;
}
.sec5 .popup_box {
    height: 19.4rem;
    overflow: hidden;
}
swiper-container {
    width: 100%;
    height: 100%;
}
swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sec5 .control_box {
    position: absolute;
    right: 0;
    top: 1.9rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    transform: translateY(-50%);
}
.sec5 .control_box button {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 1.1rem;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
}
.sec5 .control_box .slide_more {
    background-image: url(../img/i_slider_plus.png);
    background-color: transparent;
}
.sec5 .control_box .play_stop {
    background-image: url(../img/i_slider_stop.svg);
}
.sec5 .control_box .prev_btn {
    background-image: url(../img/i_slider_prev.svg);
}
.sec5 .control_box .next_btn {
    background-image: url(../img/i_slider_next.svg);
}

/* Main top section6 */
.main_top .sec6 {
    border-radius: 0;
    position: relative;
}
.sec6 .sec_tit {
    line-height: 3.8rem;
    margin-bottom: 1.1rem;
}
.sec6 .sns_tit {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    gap: 1rem;
}
.sec6 .sns_tit li button {
    display: block;
    font-size: 1.5rem;
    border-radius: 1.8rem;
    line-height: 3.6rem;
}
.sec6 .sns_tit li:nth-child(1) button:focus{
    background-color: #409adb;
    font-size: 1.6rem;
    color: #fff;
}
.sec6 .sns_tit li:nth-child(2) button:focus{
    background-color: #10ac33;
    font-size: 1.6rem;
    color: #fff;
}
.sec6 .sns_tit li:nth-child(3) button:focus{
    background-color: #e35757;
    font-size: 1.6rem;
    color: #fff;
}
.sec6 .sns_tit li:nth-child(4) button:focus{
    background: linear-gradient(to right,red,Violet);
    font-size: 1.6rem;
    color: #fff;
}

.sec6 .sns_cont {
    height: 19.4rem;
    background-color: #409adb;
    color: #fff;
    border-radius: 30px;
    background-image: url(../img/sns_logo_onair.svg);
    background-repeat: no-repeat;
    background-position: 3.8rem center;
    padding-left: 16.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.5rem;
    gap: 1rem;
}

/* Main bottom */
.main_bt {
    background-color: #f0f0f0;
}
.main_bt .bt_inner {
    width: 122rem;
    margin: 0 auto;
    padding: 6.2rem 0 6rem;
}

/* Main bottom - 공단소개 및 통계,알기 쉬운 국민연금 */
.bt_cont01 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}
.bt_cont01 .sec {
    width: 59.5rem;
}
.bt_cont01 .sec .sec_tit {
    font-size: 2.2rem;
    font-weight: bold;
    color: #10599e;
    margin-bottom: 2.6rem;
}
.bt_cont01 .sec8 .sec_tit {
    color: #da520c;
}
.bt_cont01 .sec_cont {
    border: 0.1rem solid #c8e2fa;
    border-radius: 3rem;
    padding: 2.7rem;
    display: flex;
    gap: 1rem 2.6rem;
    flex-wrap: wrap;
    background-color: #fff;
}
.bt_cont01 .sec_cont li {
    flex-shrink: 0;
    width: 16.2rem;
}
.bt_cont01 .sec_cont li a {
    display: block;
    height: 11.2rem;
    border-radius: 2rem;
    text-align: center;
    font-size: 1.6rem;
    padding-top: 1.7rem;
}
.bt_cont01 .sec_cont li a::before {
    content: '';
    width: 4.8rem;
    height: 4.8rem;
    display: block;
    margin: 0 auto 1.4rem;
    background-color: #f9f9f9;
    border-radius: 100%;
    background-image: url(../img/i_intro1_1.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
.bt_cont01 .sec_cont li:hover a {
    background: #ecf6ff;
    color: #4e9de7;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}
.bt_cont01 .sec_cont li:hover a::before{
    background-image: url(../img/i_intro1_1_on.svg);
}
.bt_cont01 .sec7 .sec_cont li:nth-child(2) a::before {
    background-image: url(../img/i_intro1_2.svg);
}
.bt_cont01 .sec7 .sec_cont li:nth-child(2):hover a::before {
    background-image: url(../img/i_intro1_2_on.svg);
}
.bt_cont01 .sec7 .sec_cont li:nth-child(3) a::before {
    background-image: url(../img/i_intro1_3.svg);
}
.bt_cont01 .sec7 .sec_cont li:nth-child(3):hover a::before {
    background-image: url(../img/i_intro1_3_on.svg);
}
.bt_cont01 .sec7 .sec_cont li:nth-child(4) a::before {
    background-image: url(../img/i_intro1_4.svg);
}
.bt_cont01 .sec7 .sec_cont li:nth-child(4):hover a::before {
    background-image: url(../img/i_intro1_4_on.svg);
}
.bt_cont01 .sec7 .sec_cont li:nth-child(5) a::before {
    background-image: url(../img/i_intro1_5.svg);
}
.bt_cont01 .sec7 .sec_cont li:nth-child(5):hover a::before {
    background-image: url(../img/i_intro1_5_on.svg);
}
.bt_cont01 .sec7 .sec_cont li:nth-child(6) a::before {
    background-image: url(../img/i_intro1_6.svg);
}
.bt_cont01 .sec7 .sec_cont li:nth-child(6):hover a::before {
    background-image: url(../img/i_intro1_6_on.svg);
}
.bt_cont01 .sec7 .sec_cont li:nth-child(7) a::before {
    background-image: url(../img/i_intro1_7.svg);
}
.bt_cont01 .sec7 .sec_cont li:nth-child(7):hover a::before {
    background-image: url(../img/i_intro1_7_on.svg);
}
.bt_cont01 .sec7 .sec_cont li:nth-child(8) a::before {
    background-image: url(../img/i_intro1_8.svg);
}
.bt_cont01 .sec7 .sec_cont li:nth-child(8):hover a::before {
    background-image: url(../img/i_intro1_8_on.svg);
}
.bt_cont01 .sec7 .sec_cont li:nth-child(9) a::before {
    background-image: url(../img/i_intro1_9.svg);
}
.bt_cont01 .sec7 .sec_cont li:nth-child(9):hover a::before {
    background-image: url(../img/i_intro1_9_on.svg);
}
.bt_cont01 .sec8 .sec_cont li:hover a{
    background-color: #ffede5;
    color: #da520c;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}
.bt_cont01 .sec_cont li:hover a::before {
    background-color: #4e9de7;
}
.bt_cont01 .sec8 .sec_cont li:hover a::before{
    background-color: #da520c;
}

.bt_cont01 .sec8 .sec_cont li:nth-child(1) a::before {
    background-image: url(../img/i_intro2_1.svg);
}
.bt_cont01 .sec8 .sec_cont li:nth-child(1):hover a::before {
    background-image: url(../img/i_intro2_1_on.svg);
}
.bt_cont01 .sec8 .sec_cont li:nth-child(2) a::before {
    background-image: url(../img/i_intro2_2.svg);
}
.bt_cont01 .sec8 .sec_cont li:nth-child(2):hover a::before {
    background-image: url(../img/i_intro2_2_on.svg);
}
.bt_cont01 .sec8 .sec_cont li:nth-child(3) a::before {
    background-image: url(../img/i_intro2_3.svg);
}
.bt_cont01 .sec8 .sec_cont li:nth-child(3):hover a::before {
    background-image: url(../img/i_intro2_3_on.svg);
}
.bt_cont01 .sec8 .sec_cont li:nth-child(4) a::before {
    background-image: url(../img/i_intro2_4.svg);
}
.bt_cont01 .sec8 .sec_cont li:nth-child(4):hover a::before {
    background-image: url(../img/i_intro2_4_on.svg);
}
.bt_cont01 .sec8 .sec_cont li:nth-child(5) a::before {
    background-image: url(../img/i_intro2_5.svg);
}
.bt_cont01 .sec8 .sec_cont li:nth-child(5):hover a::before {
    background-image: url(../img/i_intro2_5_on.svg);
}
.bt_cont01 .sec8 .sec_cont li:nth-child(6) a::before {
    background-image: url(../img/i_intro2_6.svg);
}
.bt_cont01 .sec8 .sec_cont li:nth-child(6):hover a::before {
    background-image: url(../img/i_intro2_6_on.svg);
}
.bt_cont01 .sec8 .sec_cont li:nth-child(7) a::before {
    background-image: url(../img/i_intro2_7.svg);
}
.bt_cont01 .sec8 .sec_cont li:nth-child(7):hover a::before {
    background-image: url(../img/i_intro2_7_on.svg);
}
.bt_cont01 .sec8 .sec_cont li:nth-child(8) a::before {
    background-image: url(../img/i_intro2_8.svg);
}
.bt_cont01 .sec8 .sec_cont li:nth-child(8):hover a::before {
    background-image: url(../img/i_intro2_8_on.svg);
}
.bt_cont01 .sec8 .sec_cont li:nth-child(9) a::before {
    background-image: url(../img/i_intro2_9.svg);
}
.bt_cont01 .sec8 .sec_cont li:nth-child(9):hover a::before {
    background-image: url(../img/i_intro2_9_on.svg);
}

/* Main bottom - 장애인 복지서비스, 100문100답, 재정계산 */
.bt_cont02 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6rem;
}
.bt_cont02 .sec {
    width: 38.8rem;
    height: 34.7rem;
    background-color: #fc0;
    border-radius: 3rem;
    padding: 4.7rem 4.5rem 0;
}
.bt_cont02 .sec .sec_tit {
    font-size: 2.1rem;
    color: #fff;
    font-weight: bold;
    margin-bottom: 4rem;
}
.bt_cont02 .sec .cont_list li {
    font-size: 1.7rem;
    color: #fff;
    position: relative;
    padding-left: 1rem;
}
.bt_cont02 .sec .cont_list li::before {
    content: '';
    width: 0.3rem;
    height: 0.3rem;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.bt_cont02 .sec .cont_list li:not(:last-child) {
    margin-bottom: 2.4rem;
}

.bt_cont02 .sec9 {
    background-image: linear-gradient(135deg, #2a9f4a 60%, #64cd81);
    background-repeat: no-repeat;
    background-position: right bottom;
    position: relative;
    z-index: 22;
}
.bt_cont02 .sec9::before {
    display: block;
    content: '';
    width: 9.6rem;
    height: 9.6rem;
    border-radius: 50%;
    background-color: #64cd81;
    position: absolute;
    right: -4.8rem;
    bottom: 4.2rem;
    z-index: 2;
}
.bt_cont02 .sec10 {
    background-image: linear-gradient(135deg, #3f87cb 60%, #79b7f0);
    position: relative;
}
.bt_cont02 .sec10::before {
    display: block;
    content: '';
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    background-color: #F5F5F5;
    position: absolute;
    left: -8.8rem;
    bottom: 2.8rem;
    z-index: 2;
}
.bt_cont02 .sec10::after {
    display: block;
    content: '';
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    background-color: #F5F5F5;
    position: absolute;
    right: -8.8rem;
    top: 2.8rem;
    z-index: 2;
}
.bt_cont02 .sec11 {
    background-image: linear-gradient(135deg, #cd693f 60%, #ef936c);
    z-index: 22;
    position: relative;
}
.bt_cont02 .sec11::before {
    display: block;
    content: '';
    width: 9.6rem;
    height: 9.6rem;
    border-radius: 50%;
    background-color: #cd693f;
    position: absolute;
    left: -4.8rem;
    top: 4.2rem;
    z-index: 2;
}

/* Main bottom - 국민연금 ON Air및 기타등등 */
.bt_cont03 {
    height: 63.8rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
}
.bt_cont03 .sec {
    width: 38.7rem;
    flex-shrink: 0;
}
.bt_cont03 .sec:not(:first-child) {
    border: 0.1rem solid #d3d3d3;
    border-radius: 2rem;
}

.bt_cont03 .sec14,
.bt_cont03 .sec15 {
    width: 38.6rem;
}

.bt_cont03 .sec .sec_tit {
    font-size: 2.2rem;
    color: #565656;
    font-weight: bold;
}

.sec12 {
    margin-bottom: 2rem;
}
.sec12 .info_list li:not(:last-child) {
    margin-bottom: 1.4rem;
}
.sec12 .info_list li a {
    display: block;
    height: 6rem;
    border: 0.1rem solid #d3d3d3;
    border-radius: 3rem;
    font-size: 1.7rem;
    line-height: 5.8rem;
    font-weight: bold;
    background-color: #fff;
    padding: 0 3rem;
    color: #6a6a6a;
    position: relative;
}
.sec12 .info_list li a::before {
    content: '';
    width: 2.3rem;
    height: 2.3rem;
    position: absolute;
    right: 3.1rem;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../img/i_slider_next.svg);
    background-repeat: no-repeat;
}

.sec13 {
    height: 41rem;
    padding: 3.8rem 3rem 0;
    background-color: #fff9f5;
    background-image: url(../img/bg_onair.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    position: relative;
}
.sec13 .sec_tit {
    margin-bottom: 4.2rem;
}
.sec13 .onair_list li {
    font-size: 1.8rem;
}
.sec13 .onair_list li:not(:last-child) {
    margin-bottom: 2.1rem;
}
.sec13 .more {
    position: absolute;
    right: 3rem;
    top: 2.8rem;
    border: 0.1rem solid #d3d3d3;
    width: 9.1rem;
    height: 3.8rem;
    background-color: #fff;
    border-radius: 1.9rem;
    text-align: center;
    line-height: 3.6rem;
    font-size: 1.6rem;
}
.sec13 .more::before,
.sec13 .more::after {
}
.sec13 .more::after {
    transform: rotate(90deg);
}

.sec14 {
    height: 38.4rem;
    margin-bottom: 2rem;
}
.sec15 {
    height: 23.4rem;
}
.sec14,
.sec15 {
    background-color: #fff;
    text-align: center;
    padding-top: 3.3rem;
}
.sec14 .sec_tit {
    margin-bottom: 2.6rem;
}
.sec15 .sec_tit {
    margin-bottom: 1.7rem;
}
.sec14 a,
.sec15 a {
    display: block;
    background-color: #f00;
    border-radius: 2rem;
    overflow: hidden;
    width: fit-content;
    margin: 0 auto;
}
.sec14 a {
    margin-bottom: 1.8rem;
}
.sec14 p {
    line-height: 2.7rem;
    font-size: 1.6rem;
}

.sec16,
.sec17 {
    background: #fff8f9 url(../img/bg_webzine.png) no-repeat center;
    text-align: center;
    padding-top: 3.3rem;
    margin-bottom: 2rem;
    height: 18.2rem;
}
.sec16 .sec_tit,
.sec17 .sec_tit {
    margin-bottom: 1.6rem;
}
.sec16 p,
.sec17 p {
    font-size: 1.6rem;
    margin-bottom: 2.6rem;
    color: #6a6a6a;
}
.sec16 ul,
.sec17 ul {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}
.sec16 ul li,
.sec17 ul li {
    border-radius: 15px;
    overflow: hidden;
    border-radius: 8rem;
    width: 14rem;
    height: 4rem;
}
.sec16 ul li{
    background-color: #eb647d;
}
.sec17 ul li{
    background-color: #787eb4;
}
.sec16 ul li a,
.sec17 ul li a {
    line-height: 4rem;
    display: block;
    color: #fff;
    font-size: 1.4rem;
}
.sec16 ul li .icon,
.sec17 ul li .icon{
    color: #fff;
    margin-top: .5rem;
}

.sec18 {
    height: 23.4rem;
    background-color: #fff;
    padding-top: 3.1rem;
    text-align: center;
}
.sec18 .sec_tit {
    margin-bottom: 1.1rem;
}
.sec18 p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #6a6a6a;
    text-align: center;
}
.sec18 ul{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.sec18 ul li{
    list-style-type: none;
    width: 11rem;
    text-align: center;
    font-size: 1.3rem;
}
.sec18 ul li::before{
    content: '';
    width: 10rem;
    height: 10rem;
    background-color: #f6f6f6;
    display: block;
    border-radius: 1.5rem;
    margin-bottom: 0.5rem;
    background-image: url(../img/qr_android.png);
    background-repeat: no-repeat;
    background-position: center center;
}

/* Nps - Footer */
.nps_footer {
    padding-top: 4.2rem;
    padding-bottom: 10rem;
    background-color: #f0f0f0;
}
.footer_site{
    border: 0.1rem solid #d8d8d8;
    margin-bottom: 1.5rem;
    background: #fff;
}
.footer_site .footer_sitelink{
    display: flex; 
    height: 6rem;
}
.footer_site .footer_link{
    position: relative;
    flex: 1;
}
.footer_site .footer_link button{
    width: 100%;
    height: 100%;
    padding: 0 2rem;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.1rem solid#e8e8e8;
}
.footer_site .footer_link button::after {
    display: block;
    content: '';
    width: 2.8rem;
    height: 2.8rem;
    background: url(../img/foot_ico_plus.svg) center no-repeat;
}
.footer_site .footer_link .link_list{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    z-index: 2;
    background-color: #fff;
    border: 0.1rem solid #e8e8e8;
    padding: 2rem;
    display: none;
}
.footer_site .footer_link .link_list > li > a {
    display: block;
    padding: 1rem;
    font-size: 1.5rem;
}

.footer_inner {
    width: 122rem;
    margin: 0 auto;
    padding: 6.2rem 0 6rem;
}
.footer_inner .footer_logo{
    margin-bottom: 3rem;
}
.footer_inner .footer_info{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 1.7rem;
    color: #565656;
    margin-bottom: 2rem;
}
.footer_inner .footer_info .footer_info_1 address{
    font-style: normal;
    margin-bottom: 2.5rem;
}
.footer_inner .footer_info .footer_info_1 p{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}
.footer_inner .footer_info .footer_info_1 .ars{
    display: block;
    border-radius: 2rem;
    overflow: hidden;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    color: #686868;
    background: #fff;
    border: 0.1rem solid #929292;
}
.footer_inner .footer_info .video_sign{
    margin-top: 4rem;
    height: 2.6rem;
}
.footer_inner .footer_info .video_sign a {
    display: flex;
    line-height: 3rem;
    align-items: center;
    gap: 1rem;
    color: #425ABE;
    font-size: 1.7rem;
    font-weight: 700;
}
.footer_inner .footer_info .video_sign a::before {
    content: '';
    width: 2.6rem;
    height: 2.6rem;
    background:#425ABE url(../img/i_hand.svg) no-repeat center;
    border-radius: 0.8rem;
    display: inline-block;
}
.footer_inner .footer_info .video_sign a::after {
    content: '';
    width: 2.6rem;
    height: 3rem;
    background: url(../img/i_hand_arr.svg) no-repeat center;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}
.footer_inner .footer_info .video_sign a:hover::after {
    transform: translateX(50%);
}
.footer_inner .footer_info .footer_info_2{
    margin-right: 8rem;
}
.footer_inner .footer_info .footer_info_2 ul li a{
    display: block;
    font-size: 1.7rem;
    padding: .5rem 1rem;
    font-weight: 600;
    color: #565656;
}
.footer_inner .footer_info .footer_info_2 ul:first-child li a:after {
    content: '';
    display: inline-block;
    position: relative;
    top: 0;
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
    background: url(../img/icon_gnb_rightArrow.png) no-repeat center;
    background-size: 100% auto;
}
.footer_sns {
    margin-top: 4rem;
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.footer_sns li{
    margin-right: 1rem;
}
.footer_sns li a{
    display: block;
    background: url(../img/i_sns_fb.svg);
    width: 3.4rem;
    height: 3.4rem;
    border: .1rem solid #e8e8e8;
    background-color: #fff;
    border-radius: 50%;
    text-align: left;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.footer_sns li:nth-child(2) a{
    background: url(../img/i_sns_inst.svg);
    background-color: #fff;
}
.footer_sns li:nth-child(3) a{
    background: url(../img/i_sns_yt.svg);
    background-color: #fff;
}
.footer_sns li:nth-child(4) a{
    background: url(../img/i_sns_blog.svg);
    background-color: #fff;
}
.footer_sns li:nth-child(5) a{
    background: url(../img/i_sns_post.svg);
    background-color: #fff;
}
.footer_sns li:nth-child(6) a{
    background: url(../img/i_sns_onair.png);
    background-color: #fff;
}

.footer_bottom {
    padding-top: 1rem;
    border-top: 0.1rem solid #d8d8d8;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.footer_bottom .f_menu{
    font-size: 1.5rem;
    display: flex;
    padding: 1rem;
}
.footer_bottom .f_menu li:first-child{
    font-weight: bold;
    color: #409adb;
    margin-right: 2rem;
}
.footer_bottom .f_mark{
    display: flex;
    height: 5rem;
}
.footer_bottom p{
    font-size: 1.2rem;
}